.Redes { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.redes { 
    display: flex;
    gap: 75px;
    font-size: 45px;
    padding: 15px;
}
